html {
    font-family: calibri;
}



body {
    width: 100%;
    background-color: #b0c4de;
    
}

/*class for centering*/
.center {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

#title {
    width: 100%;
    font-size: x-large;
    text-align: center;
    margin-top: 100px;
    background-color: #961212;

}

#intro {
    width: 100%;
    font-size: large;
    text-align: center;
    margin-top: 100px;
}





