@font-face {
    font-family: chunkfive-regular;
    src: url(amble-regular-webfont.woff);
}

html {
    font-family: chunkfive-regular;
    color: white;
}

body {
    width: 100%;
    background-color: #961212;
    background: linear-gradient( 180deg, #FF1919, #000000);
    background-repeat: no-repeat;
    background-attachment: fixed;


}
/*class for centering*/
.center {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

#title {
    width: 100%;
    font-size: x-large;
    text-align: center;
    margin-top: 100px;
}

#intro {
    width: 100%;
    font-size: large;
    text-align: center;
    margin-top: 100px;
}
.search_table{
    margin-top:100px;
    width:60%;
    margin:auto;  
    border-collapse: collapse;
}
.search_row{
    width:auto;
    height:auto;  
}
.search_column{
    text-align: center;
    padding:5px;
border:2px solid black;
}




