@font-face {
    font-family: josefinslab;
    src: url(josefinslab-bold-webfont.woff);
}

div {
    font-family: josefinslab;
}

html {
    font-family: josefinslab;
 }

body {
    width: 100%;
    background-color: #E0E0D1; 
    background-image: url(wesleyan.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;   

}
/*class for centering*/
.center {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.custom-title {
    font-size: 500%;
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    color: beige;


}

.create-forms {
    margin-top: 120px;

}

#text-background {
    background-color: rgba(51,51,51,0.5);
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
    line-height: initial;
    border-radius: 25px;

}

#intro {
    font-size: 200%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    color: beige;
    background-color: rgba(51,51,51,0.5);
    line-height: initial;
    margin-left: 22%;
    margin-right: 22%;
    padding: 10px;
    border-radius: 10px;
}

#text-input {
    margin-bottom: 15px;
    text-align: center;
}

#text-input input{
    width: 75%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
}


#searchresults{
    margin-top:10%;
    width:80%;
    margin-left: 10%;
}
#searchbar{
    width:20%;
    float:right;
    margin-right:20%;
}   



#front-page-buttons {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hidden{
    display:none;
}
.click{
    cursor:pointer;
}


#login-button a{
    color: white;
}

#login-button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#button-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

#about-panel {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 65px;
}

#create-group {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}








