@font-face {
    font-family: chunkfive-regular;
    src: url(amble-regular-webfont.woff);
}

html {
    font-family: chunkfive-regular;
}

body {
    width: 100%;
    background-color: #E0E0D1;

}
/*class for centering*/
.center {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

#title {
    width: 100%;
    font-size: 500%;
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
}

#intro {
    width: 100%;
    font-size: large;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

#text-input {
    margin-bottom: 15px;
    text-align: center;
}

#text-input input {
    width: 75%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
}


#searchresults{
    margin-top:10%;
    width:80%;
    margin-left: 10%;
}
#searchbar{
    width:20%;
    float:right;
    margin-right:20%;
}   



#front-page-buttons {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}





