@font-face {
    font-family: chunkfive-regular;
    src: url(amble-regular-webfont.woff);
}

html {
    font-family: chunkfive-regular;
    color: white;
}

body {
    width: 100%;
    background-color: #E0E0D1;

}
/*class for centering*/
.center {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

#title {
    width: 100%;
    font-size: 500%;
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
}

#intro {
    width: 100%;
    font-size: large;
    text-align: center;
    margin-top: 100px;
}

#text-input {
    margin-bottom: 15px;
    text-align: center;
}

#text-input input {
    width: 75%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    font-size: 24px;
}

.search_table{
    margin-top:100px;
    width:60%;
    margin:auto;  
    border-collapse: collapse;
}
.search_row{
    width:auto;
    height:auto;  
}
.search_column{
    text-align: center;
    padding:5px;
    border:2px solid black;
}




