html {
    font-family: calibri;
}
body {
    width: 100%;


}
/*class for centering*/
.center {
    width: 100%;
    text-align: center;
}

#title {
    width: 100%;
    font-size: x-large;
    text-align: center;

}

#intro {
    width: 100%;
    font-size: large;
    text-align: center;
}





