<html>
	<head>
		<title>Are you lost?</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='resources/images/favicon.ico') }}">
    	<link rel="stylesheet" href="{{ url_for('static', filename='resources/foundations/css/foundation.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<div id="four-o-four" class="header center-txt">404</div>
		<h1 class="header center-txt">Not all who wonder are lost...</h1>
		<h3 class="header center-txt">But you are!</h3>
		<h3 class="header center-txt">Go back to <a href="{{ url_for('home') }}">Succor</a></h3>
	</body>
</html>

