{% macro render_field(field, is_hidden=False) %}
  {% if not is_hidden: %}
    <dt>{{ field.label }}</dt>
  {% endif %}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% macro render_about_card_left(data) %}
  <div class="circular small-3 columns"
        style="background-image: url('static/resources/images/{{ data['picture'] }}'); background-size: cover; margin:auto;">
  </div>
  <div class="about-info small-9 columns">
    <div class="about-title">
      <span class="about-title-name">
        {{ data['name'] }}
      </span>
      <span class="about-title-position">
        {{ data['position'] }}
      </span>
    </div>
    <div>
      {{ data['bio'] }}
    </div>
  </div>
{% endmacro %}

{% macro render_about_card_right(data) %}
  <div class="about-info small-9 columns">
    <div class="about-title">
      <span class="about-title-name">
        {{ data['name'] }}
      </span>
      <span class="about-title-position">
        {{ data['position'] }}
      </span>
    </div>
    <div>
      {{ data['bio'] }}
    </div>
  </div>
  <div class="small-3 columns circular"
        style="background-image: url('static/resources/images/{{ data['picture'] }}'); background-size: cover; margin:auto;">
  </div>
{% endmacro %}
