{% extends "template.html" %}
{% block title %}About{% endblock %}
{% block head %}
	{{ super() }}
	<style type="text/css">
	.important { color: #336699; }
	</style>
{% endblock %}
{% block content %}
	{% from "_macros.html" import render_about_card_left, render_about_card_right %}
	<div id="about-content" class="center-elmt">
		<div id="logo-container">
			<img src="{{ url_for('static', filename='resources/images/logos/succor_finals-02.png') }}">
		</div>
		<div>
			<h2 class="subheader">What is Succor?</h2>
			<div>
				Succor connects students to classmates who are studying for the same tests. Students can create new study groups or find existing study groups by simply searching through their classes.
			</div>
		</div>
		<div>
			<h2 class="subheader">Our story</h2>
			<div>
				Katya had the Idea for Succor her freshman year. She wanted to meet more people in her classes and realized that the best way to do that is through studying with them. Succor was born out of the Wesleyan Hackathon. Katya brought the idea to us, we liked it, submitted it and it was selected . We built an initial product in a weekend and then struggled through a semester of rebuilding from the ground up to make a prettier, more robust version, which we now call Succor.
			</div>
		</div>
		<div>
			<h2 class="subheader">Our Mission</h2>
			<div>
				The first thing you usually ask a new person that you meet in school is about his/her classes. We are interested in each other’s academic life, and that connection is even more special when we find out that this random person whom we’ve just met is in one of our classes. With Succor, our mission is to connect students through this dynamic.
			</div>
		</div>
		<h2 class="subheader">Our People</h2>
		<div class="row about-row">
			{{ render_about_card_left(people_data['Katya Sapozhnina']) }}
		</div>
		<div class="row about-row">
			{{ render_about_card_right(people_data['Aaron Rosen']) }}
		</div>
		<div class="row about-row">
			{{ render_about_card_left(people_data['Hora']) }}
		</div>
		<div class="row about-row">
			{{ render_about_card_right(people_data['Denise Fransisco']) }}
		</div>
		<div class="row about-row">
			{{ render_about_card_left(people_data['Aditya Gupta']) }}
		</div>
	</div>
{% endblock %}