{% extends "template.html" %}
{% block title %}About{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>
	<h1 class="aboutheading"><center>A Little About Us</center></h1>
	<p><strong>Our Story:</strong> We have felt the struggle of studying for tests... We have wished that there was a way to make exams more pleasant... Finally, we found a solution.
 	Succor was an idea Katya had her freshman year. She wanted to know more people in her classes that had good  tactics. She submitted the idea to the Wesleyan Hackathon in September 2014 and it was picked and well received by all students.Since then, our team built this tool every week. We just released our MVP.
 </p>
 <p><strong>Our Mission:</strong> We aim to provide an easy to use tool that will help students find study groups on their campuses. Our app connects students so they can have an easy into.
 </p>
 	<img src="study_buddy/static/resources/images/katya.jpg" height="12%" width="12%" class="photos">
	<p><strong>Yekaterina Sapozhnina (Katya), 2016, Psychology Major: </strong> Katya is the Founder and President of the Wesleyan Entrepreneurship Society.  She founded the society her freshman year to spearhead entrepreneurship culture at Wesleyan and since it has grown to a popular and active society at Wesleyan. Katya will co-lead a for-credit class on Entrepreneurship this Spring for the second year in a row.  She is also a Peer Advisor for the Patricelli Center of Social Entrepreneurship. She advises many startups on campus. She came up with the idea for Succor her freshman year and is excited that it is now a tool Wesleyan students use. She wishes she had Succor when she was studying for her Language of Hollywood test her freshman year. She currently uses Succor to study for Statistics.
	</p>
	<br>
	<img src="study_buddy/static/resources/images/katya.jpg" height="6" width="12%" class="photos">
	<p> <strong>Denise Francisco (‘16)</strong> is a Junior at Wesleyan University who majors in Computer Science. She is currently involved with two dance groups on campus and is a Programmer for Instructional Media Services. She is currently interested in Web Development. She helped create the front end of Succor in September 2014 during the Wesleyan Hackathon. She hopes that Succor will be widely used on campus and will continue making studying more convenient for everyone.
	</p>

{% endblock %}