{% extends "template.html" %}
{% block title %}Create A Group{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% from '_macros.html' import render_field %}

{% block content %}
        <div class="title-area row">
            <div class="small-12 custom-title">Create a New Group</div>
        </div>
        {% if results %}
        <div class="large-12 columns" id="errors">
        <p class="error">The following error(s) occured:</p>
        {% for error in results %}
        <li>{{error}}</li>
        {% endfor %}
        </div>
        {% endif %}
        <form action="create" method="post" class="create-forms" id="create-group">
            <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
            {{ render_field(form.geo_location, is_hidden=True) }}
            <div class="row">
                <div class="small-6 columns">
                    {{ render_field(form.department) }}
                </div>
                <div class="small-6 columns">
                    {{ render_field(form.course_no) }}
                </div>
            </div>
            <div class="row">
                 <div class="small-6 columns">
                    {{ render_field(form.datetime) }}
                </div>
                <div class="small-6 columns">
                    {{ render_field(form.where) }}
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    {{ render_field(form.assignment) }}
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    {{ render_field(form.details) }}
                </div>
            </div>
            {% if not current_user.is_authenticated(): %}
                <div class="row">
                    <div class="small-6 columns">
                        {{ render_field(form.school) }}
                    </div>
                    <div class="small-6 columns">
                        {{ render_field(form.email, placeholder='Optional') }}
                    </div>
                </div>
            {% endif %}
            <div class="row small-centered" id="front-page-buttons">
                <input type="submit" value="Create" id="create" class="button small-3 small-centered columns">
            </div>
        </form>

{% endblock %}
