{% extends "template.html" %}
{% block title %}Create A Group{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% from '_macros.html' import render_field %}

{% block content %}
    <div class="wrapper">
        <div class="title-area">
            <div class="custom-title">Create a New Group</div>
        </div>
        {% if results %}
        <div class="large-12 columns" id="errors">
        <p class="error">The following error(s) occured:</p>
        {% for error in results %}
        <li>{{error}}</li>
        {% endfor %}

        </div>
        {% endif %}
        <form action="create" method="post" class="create-forms" id="create-group">
            {{ form.csrf_token }}
            <div class="row">
                <div class="large-6 columns">
                    {{ render_field(form.name) }}
                </div>
                <div class="large-6 columns">
                    {{ render_field(form.email) }}
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    {{ render_field(form.department) }}
                </div>
                <div class="large-6 columns">
                    {{ render_field(form.course_no) }}
                </div>
            </div>
            <div class="row">
                 <div class="large-6 columns">
                    {{ render_field(form.datetime) }}
                </div>
                <div class="large-6 columns">
                    {{ render_field(form.location) }}
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    {{ render_field(form.assignment) }}
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    {{ render_field(form.details) }}
                </div>
            </div>
            <div class="row small-centered" id="front-page-buttons">
                <input type="submit" value="Create" id="create" class="button small-3 small-centered columns">
            </div>
        </form>

        <div class="push"></div>
    </div>
{% endblock %}
