{% extends "template.html" %}
{% block title %}Create A Group{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="title-area">
            <div class="custom-title">Create a New Group</div>
        </div>
        {% if results %}
        <div class="large-12 columns" id="errors">
        <p class="error">The following error(s) occured:</p>
        {% for error in results %}
        <li>{{error}}</li>
        {% endfor %}

        </div>
        {% endif %}
        <form action="new" method="post" class="create-forms" id="create-group">
            <div class="row">
                <div class="large-6 columns">
                    <input type="text" placeholder="Name" name="name" />
                </div>
                <div class="large-6 columns">
                    <input type="text" placeholder="Contact Info (optional)" name="contact" />
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    <input type="text" placeholder="Department" name="department"
                    id="createdepartment" required/>
                </div>
               <!--  <div class="large-6 columns">
                    <input type="text" placeholder="Course No." name="course" required/>
                </div> -->
            </div>
            <div class="row">
                 <div class="large-6 columns">

                    <input type="text" placeholder="Date and Time" name="datetime" id="datepicker" required/>

                </div>
                <div class="large-6 columns">
                    <input type="text" placeholder="Location" name="location" required/>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input type="text" placeholder="Assignment Description" name="description" required/>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input type="text" placeholder="Session Details (optional)" name="details" required/>
                </div>
            </div>
            <div class="row small-centered" id="front-page-buttons">
                <input type="submit" value="Create" id="create" class="button small-3 small-centered columns">
            </div>
        </form>

        <div class="push"></div>
    </div>
{% endblock %}
