{% from '_macros.html' import render_field %}

{% extends 'template.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
	<div class="info-card group-content">
		<form method="post" action="/edit">
			<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
		    <div class="row">
		    	<div class="small-2 columns">Name:</div>
		    	{% if user.name.first: %}
			    	<div class="small-5 columns">
			    		<input type="text" name="first_name" value="{{ titleize(user.name.first) }}" />
			    	</div>
			    {% else: %}
			    	<div class="small-5 columns">
			    		<input type="text" name="first_name" placeholder="First"/>
			    	</div>
			    {% endif %}
			    {% if user.name.last: %}
			    	<div class="small-5 columns">
			    		<input type="text" name="last_name" value="{{ titleize(user.name.last) }}" />
			    	</div>
			    {% else: %}
			    	<div class="small-5 columns">
			    		<input type="text" name="last_name" placeholder="Last" />
			    	</div>
			    {% endif %}
		    </div>
		    <div class="row">
		    	<div class="small-4 columns small-centered">
		    		<input type=submit value="Edit" class="button radius">
		    	</div>
		    </div>
		</form>
		    {% for class in user.classes: %}
		      <div class="row course">
		        <div class="small-12 columns small-centered">
		          <span class="course-edit" href='{{ class }}'>{{ titleize(class) }}</span>
		          <span class="remove-icon">
			          <form method="post" action="/user/delete/{{ class }}">
			          	<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
			          	<input type="submit" class="remove-icon" value="X" />
			          </form>
		          </span>
		        </div>
		      </div>
		    {% endfor %}
		<form action="/user/add" method="post">
			<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
			<input type="text" name="new_class" placeholder="Add a class (department name and course number)" />
		</form>
	</div>
{% endblock %}