{% extends "template.html" %}
{% block title %}Group{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
	<div class="info-card group-content">
		<div class="row">
			<h2>{{ group.department }} {{ group.course_no }}</h2>
			<div class="time-subheader">{{ output_time(group.time) }}</div>
		</div>
		<div class="row">
			<h3>Location: <small>{{ group.location }}</small></h3>
		</div>
		<div class="row">
			<h3>Description: <small>{{ group.description }}</small></h3>
		</div>
		<div class="row">
			<h3>Contact: <small>{{ group.contact_info }}</small></h3>
		</div>
		<div class="row">
			<h3>Details: <small>{{ group.details }}</small></h3>
		</div>
		<a href="{{ request.referrer }}">Back</a>
	</div>
{% endblock %}