{% extends "template.html" %}
{% block title %}Group{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
	<div class="row">
		<h1>{{ group.department }} {{ group.course_no }} <small>{{ group.time }}</small></h1>
	</div>
	<div class="row">
		<h3>Location: <small>{{ group.location }}</small></h3>
		<h3>Description: <small>{{ group.description }}</small></h3>
		<h3>Contact: <small>{{ group.contact_info }}</small></h3>
		<h3>Details: <small>{{ group.details }}</small></h3>
	</div>
{% endblock %}