{% extends "template.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
    <div class="wrapper">

        <div class="custom-title" id="text-background">Succor</div>

        <div id="intro">
            Find friends to study with!
        </div>
        
        <form action="find">
            <div class="row">
                <div class="small-10 columns">
                    <div class="row collapse">
                        <div class="small-8 columns">
                            <input type="text" name="dept_keyword" placeholder="Enter Department.."/>
                        </div>
                        <div class="small-4 columns">
                            <input type="text" name="course_no" placeholder="Course #"/>
                        </div>
                    </div>
                </div>
                <div class="small-2 columns">
                    <input type="submit" value="Search" class="button postfix">
                </div>
                </div>
            </div>
        </form>

        <div class="row small-centered" id="front-page-buttons">
            <div class="small-3 small-centered columns">
                <div class="row">
                    <div class="small-12 columns">
                        <form action="create">
                            <input type="submit" value="Create a Group" id="create" class="button small-2 small-centered columns">
                        </form>
                    </div>
<!--                     <div class="small-6 columns">
                        <form action="lucky">
                            <input type="submit" value="I'm Feeling Lucky" id="lucky" class="button small-3 small-centered columns">
                        </form>
                    </div> -->
                </div>
            </div>
        </div>

    </div>
{% endblock %}
