{% extends "template.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="home">Study Buddy</a></h1>
                </li>
            </ul>
            <section class="top-bar-section">           
                <ul>
                    <li>
                        <h1 id="well">Welcome, {{username}}</h1>
                    </li>
                    <li>
                        <h1>|</h1>
                    </li>
                    <li>
                        <a href="logout">Logout</a>
                    </li>
                </ul>
            </section>
        </nav>

        <div class="custom-title" id="text-background">Study Buddy</div>

        <div id="intro">
            Find friends to study with!
        </div>
        
        <div id="text-input" class="row">
            <div class="large-7 columns">
                <input type="text" id="studysearch" placeholder="Enter Department.."/>
            </div>
            <div class="large-3 columns" id="course">
                <input type="text" id="course-search" placeholder="Course #"/>
            </div>
            <div class="large-2 columns" style="text-align: center;" id="search-button">
                <input type="image" value="Search" class="button small-3 small-centered columns" id="find" src="{{ url_for('static', filename='resources/images/magnifying_glass.png') }}">
            </div>  
        </div>


        <div class="row small-centered" id="front-page-buttons">
            <input type="submit" value="Create a Group" id="create" class="button small-2 small-centered columns">
            
            <input type="submit" value="I'm Feeling Lucky" id="lucky" class="button small-3 small-centered columns">
        </div>

    </div>
{% endblock %}
