{% extends "template.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
<!-- add flash message -->
{% block content %}

    <div class="wrapper">

        <div class="custom-title" id="text-background">Succor</div>
            <div id="intro">
                <b>/ˈsəkər/</b> <em>[noun]</em> <span>assistance and support in times of hardship and distress.</span> <em>We bring succor to students by connecting them with study groups.</em> <em>[verb]</em> <span>give assistance or aid to.</span> <em>I used Succor to search and organize a study session with my classmates. I was succored, relieved of stress, and even made new friends!</em>
            </div>
            
            <form action="find">
                <div class="row">
                    <div class="small-10 columns">
                        <div class="row collapse">
                            <div class="small-8 columns">
                                <input type="text" name="dept_keyword" placeholder="Enter Department.." id="search-bar"/>
                            </div>
                            <div class="small-4 columns">
                                <input type="text" name="course_no" placeholder="Course #"/>
                            </div>
                        </div>
                    </div>
                    <div class="small-2 columns">
                        <input type="submit" value="Search All" class="button postfix" 
                                id="main-search-button">
                    </div>
                </div>
            </form>

                    <div class="row" id="front-page-buttons">
                        <div class="small-4 columns small-offset-2">
                            <form action="create">
                                <input type="submit" value="Create a Group" id="create" class="button small">
                            </form>
                        </div>
                        <div class="small-4 columns end">
                            <form action="all-nighter">
                                <input type="submit" value="Find all-nighter friends!" id="all_nighter" class="button small">
                            </form>
                        </div>
                    </div>
            <!-- <div class="row small-centered" id="front-page-buttons">
                <div class="small-3 small-centered columns">
                    <div class="row">
                        <div class="small-12 columns">
                            <form action="create">
                                <input type="submit" value="Create a Group" id="create" class="button small-2 small-centered columns">
                            </form>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div id="footer">
        <p id="bot">
          Created by Aaron Plave, Yekaterina Sapozhnina, Aaron Rosen, Hora, Denise Francisco, Lili Borland and Aditya Gupta <a href="https://github.com/weshack/study_buddy/"><img src="{{ url_for('static', filename='resources/images/githubcat.jpg') }}" alt="Github Code Link" height="30" width="30"/></a>
        </p>
        <p id="bot">Contact <a href="mailto:succorapp@gmail.com">succorapp@gmail.com</a> to tell us what we can be doing better!</p>
        <p id="bot">Sponsored by the <a href="http://www.wesquared.co">Wesleyan Entrepreneurship Society</a></p>
    </div>
{% endblock %}

