{% extends "template.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="custom-title">Study Buddy</div>
    	<div class="row" id="button-wrapper" onclick='window.location.href="{{login_link}}"'>
    		<div class="button small-3" id="login-button">
                <a href="{{login_link}}">Login</a>
            </div>
    	</div>
        <div class="panel" id="about-panel">
            You never have to study alone again.
            <p>Don't know anyone in your class?
               Having difficulty finding other people to study with?
               Study Buddy helps you find a group of students that have the same goal as you: to collaborate and help each other study for exams and homework. 
        </div>
        <div class="push"></div>
    </div>
{% endblock %}


