{% extends "template.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
    <div class="wrapper">
        <nav class="top-bar" data-topbar role="navigation">
          <ul class="title-area">
            <li class="name">
              <h1><a href="/">Study Buddy</a></h1>
            </li>
          </ul>
        </nav>

        <div class="custom-title">Study Buddy</div>
    	<div class="row" id="button-wrapper" onclick='window.location.href="{{login_link}}"'>
    		<div class="button small-3" id="login-button">
                <a href="{{login_link}}">Login</a>
            </div>
    	</div>
        <div class="panel" id="about-panel">
            You never have to study alone again.
            <p>Don't know anyone in your class?
               Having difficulty finding other people to study with?
               Study Buddy helps you find a group of students that have the same goal as you: to collaborate and help each other study for exams and homework. 
        </div>
        <div class="push"></div>
    </div>

    

    <script type="text/javascript">
        //login button event listener
        var button = document.querySelector("#login-button");
        button.addEventListener("click", clickHandler, false);
        //sends user to email authentication page after button click
        function clickHandler() {
            var whatever = '{{login_link}}';
            console.log(whatever);
            // window.location.href = whatever;
        }
    </script>
{% endblock %}


