{% from '_macros.html' import render_field %}

{% extends 'template.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="info-card" id="login-page">
    <form method="post" action="/login">
        <dl>
          <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
          {{ render_field(form.email) }}
          {{ render_field(form.password) }}
          Forgot your password? Click <a href="reset">here</a>.
          {% if not verified: %}
            <div class="errors">
              You haven't verified your account! Click 
              <a href="{{ url_for('re_verify') }}">here</a> to resend a verification email.
            </div>
          {% endif %}
        </dl>
        <p><input type=submit value="Log In" class="button">
    </form>
    <div>Don't have an account? Sign up <a href='register'>here</a>!</div>
  </div>
{% endblock %}
