{% from '_macros.html' import render_field %}

{% extends 'template.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
  <div class="info-card">
    <form>
      <div class="row">
        <div class="small-6 columns">
          First name: <input type="text" value="{{ titleize(user.name.first) or "" }}">
        </div>
        <div class="small-6 columns">
          Last name: <input type="text" value="{{ titleize(user.name.last) or "" }}">
        </div>
      </div>
    </form>
    {% for class in user.classes: %}
      <div class="row course" href='{{ class }}'>
        <div class="small-6 columns small-centered">
          {{ class }}
        </div>
      </div>
    {% endfor %}
    <div class="row add-course">
      <div class="small-6 columns small-centered">
        Add a class
      </div>
    </div>
  </div>
{% endblock %}