{% from '_macros.html' import render_field %}

{% extends 'template.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
  <div class="info-card">
    <div class="row">
        <div class="small-6 columns">
          {{ user.name.first }} {{ user.name.last }}
        </div>
      </div>
    {% for class in user.classes: %}
      <div class="row course" href='{{ class }}'>
        <div class="small-6 columns small-centered">
          {{ class }}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}