{% from '_macros.html' import render_field %}

{% extends 'template.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
  <div class="info-card">
    <div class="row">
        <div class="small-6 columns">
          {% if user.name: %}
            {{ titleize(user.name.first + ' ' + user.name.last) }}
          {% else: %}
            No name
          {% endif %}
        </div>
      </div>
    {% for class in user.classes: %}
      <div class="row course" href='{{ class }}'>
        <div class="small-6 columns small-centered">
          {{ titleize(class) }}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}