<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='resources/images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='resources/foundations/css/foundation.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='resources/js/datetimepicker/jquery.datetimepicker.css') }}" >
    <script src="{{ url_for('static', filename='resources/foundations/js/vendor/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/foundations/js/foundation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='study_buddy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/foundations/js/vendor/modernizr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/foundations/js/vendor/fastclick.js' ) }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='resources/js/datetimepicker/jquery.datetimepicker.js') }}"></script>
    <title>Succor - {% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div id="nav">
      <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="/">Succor</a></h1>
                </li>
            </ul>
            {% if current_user.is_authenticated(): %}
<!--               <section class="top-bar-section">           
                <ul class="right">
                    <li class="has-dropdown not-click">
                        <a href="/user/{{ current_user._id }}">Welcome, {{ current_user.email }}</a>
                        <ul class="dropdown">
                          {% for class in current_user.classes: %}
                            <li><a href="/find?new_find={{ class }}">{{ class }}</a></li>
                          {% endfor %}
                          <li id="add-class"><a href="#">Add another class</a></li>
                        </ul>
                    </li>
                    <li>
                        <h1>|</h1>
                    </li>
                    <li>
                        <a href="logout">Logout</a>
                    </li>
                </ul>
              </section> -->
            {% else: %}
<!--               <section class="top-bar-section">
                <ul>
                  <li>
                    <a href="login">Login</a>
                  </li>
                </ul>
              </section> -->
            {% endif %}
        </nav>
    </div>
    <div id="content">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>
  </body>
</html>