/*
* Grey: #C7D0D5;
* Blue: #93B1C6;
* White: #F5F5F5;
* Orange: #FF7148;
* Red: #EC583A;
*/
/*Grey*/
/*Orange*/
/*Red*/
/*Blue*/
@font-face {
  font-family: josefinslab;
  src: url(josefinslab-bold-webfont.woff);
}
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
html {
  font-family: bitstream-regular !important;
}
html,
body {
  height: 100%;
}
body {
  width: 100%;
  background-color: rgb(22, 160, 133);
  background: linear-gradient(rgba(22, 160, 133, 0.8), rgba(22, 160, 133, 0.3)), url('resources/images/congruent_pentagon.png'); 
/*  background-size: cover !important;
*/  background-repeat: repeat-x repeat-y;
  background-attachment: fixed;
}
 
table tr td, table thead tr th {
    color: #4ABA9A;
}
.time-subheader {
    color: rgb(111,111,111);
    font-size: 120%;
    margin-bottom: 5px;
}
.center-elmt {
  margin-left: auto;
  margin-right: auto;
}
.center-txt {
  text-align: center;
}
#search-results-container {
  color: white;
}
#no-search-results {
  margin: 15px 0;
}
#ui-datepicker-div {
  width: 20%;
  text-decoration: none;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}
/*class for centering*/
.center {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
.custom-title {
  font-size: 500%;
  text-align: center;
  margin: 0px auto;
  margin-top: 100px;
  font-weight: bold;
  color: beige;
  min-width: 500px;
}
.create-forms {
  margin-top: 120px;
}
nav.top-bar {
  opacity: 0.8;
}
.top-bar-section ul li > h1 {
  width: 100%;
  color: white;
  font-size: 0.8125rem;
  font-weight: normal;
  text-transform: none;
  padding-top: 11px;
}
#text-background {
  /*background-color: rgba(51,51,51,0.5);*/
  padding: 5px;
  line-height: initial;
  border-radius: 25px;
}
.columns input {
  width: 100% !important;
}
#intro {
  font-size: 100%;
  font-family: josefinslab;
  margin: 50px auto;
  color: #fff;
  /*background-color: rgba(51,51,51,0.5);*/
  line-height: 150%;
  padding: 10px;
  width: 50%;
}
#text-input {
  margin-bottom: 15px;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}
#text-input input {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
}
#searchresults {
  width: 80%;
  margin-left: 10%;
}
#searchbar {
  width: 20%;
  float: right;
  margin-right: 20%;
}
#front-page-buttons {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.container {
  display: none;
}
.click {
  cursor: pointer;
}
#login-button a {
  color: white;
}
#login-button {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#button-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
#about-panel {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 65px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 32px;
}
#about-panel p {
  font-size: 20px;
  margin-top: 7px;
}
#course {
  width: 35.5%;
}
#page-header {
  width: 90%;
  margin-top: 8%;
  margin-left: 10%;
  margin-bottom: none;
  display: inline-block;
}
#create-group {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
#search-input {
  width: 50%;
  margin-left: 10%;
  display: inline-block;
}
.students-table {
  width: 30%;
  display: inline-block;
}
.notes {
  display: inline-block;
  width: 60%;
  float: right;
  height: 100%;
  overflow: auto;
}
/*footer stuff*/
.footer {
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0.7px 0.7px #000000;
  position: fixed;
  bottom: 0;
}
#bot {
  font-size: 16px;
  text-align: center;
  color: beige;
  margin-bottom: 0;
}
.wrapper {
  min-height: 95%;
  height: auto !important;
  height: 95%;
  margin: ;
  0auto: -2em;
}
.footer,
.push {
  height: 2em;
}
#errors {
  margin-top: 5%;
}

.button {
    background-color: #1676a0 !important;
}
.header {
    color: #FFFFFF !important;
}
.subheader {
    color: #CDCDCD !important;
}

.top-bar {
    background-color: rgba(22, 118, 160, 1) !important;
}

.info-card {
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 100px !important;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
}

.info-card h2, h3 {
    color: #4aba9a;
}

.info-card a :hover{
    
}

.flashes {
    width: 35%;
    margin: auto;
    position: relative;
    top: 40px;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 12px 0;
    padding-left: 16px;
    text-align: center;
    color: #236E90;
}

#four-o-four {
  font-size: 250pt;
  line-height: 100% !important;
  margin-bottom: 82px;
  height: 200px;
}
.clickableRow :hover{
  cursor:pointer;
}

.aboutheading{
    text-align: center;
}
.names p{
    display: block;
    float: left;
}
.photos{
    float: left;
    margin-right: 24px;
}

.circular {
  width: 200px;
  height: 200px;
  max-height: 200px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

.flip-container {
  perspective: 1000;
  width: 80%;
  margin:auto;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
  height: 400px;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  width: 100%;

  position: absolute;
  top: 30px;
  left: 0;
}

/* front pane, placed above back */
.front {
  text-align: center;
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.back div {
  width: 85%;
  margin: auto;
}

#group-content {
  max-width: 35%;
}

#about-content {
  width: 80%;
  margin-bottom: 30px;
}

#intro-video {
  margin: auto;
  text-align: center;
}

#intro-video object {
  width: 640px;
  height: 360px;
}

