@font-face {
    font-family: josefinslab;
    src: url(josefinslab-bold-webfont.woff);
}

html {
    font-family: josefinslab;
}
html, body {
    height: 100%;
}
body {
    width: 100%;
    background: url(resources/images/wesleyan.jpg) !important;
    background-color: #E0E0D1; 
    background-size: cover !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.center-elmt {
    margin-left: auto;
    margin-right: auto;
}

.center-txt {
    text-align: center;
}

.search-row-odd {
    padding-bottom: 5px;
    padding-top: 5px; 
    background-color: rgba(51, 51, 51, 0.7);
}

.search-row-even {
    padding-bottom: 2px;
    padding-top: 5px;
    background-color: rgba(0, 51, 102, 0.7);
}

#search-results-container {
    color: white;
}

#no-search-results {
    margin: 15px 0;
}

#ui-datepicker-div {
    width: 20%;
    text-decoration: none;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
}

/*class for centering*/
.center {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}
.custom-title {
    font-size: 500%;
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    color: beige;
    min-width: 500px;
    text-shadow: 3px 3px #000000;
}
.create-forms {
    margin-top: 120px;
}
.ui-helper-hidden-accessible {
    visibility: hidden;
}
.ui-menu-item:hover{
    background-color: #99D6FF;
}
.ui-menu-item {
    padding-left: 10px;
}
.ui-widget-content {
    width: 73%;
    border: 1px solid black;
    color: #222222;
    background-color: white;
    text-decoration: none;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}

nav.top-bar {
    opacity: 0.8;
}

.top-bar-section ul li > h1 {
    width: 100%;
    color: white;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 0.8125rem;
    font-weight: normal;
    text-transform: none;
    padding-top: 11px;
}

#text-background {
    /*background-color: rgba(51,51,51,0.5);*/
    margin-left: 30%;
    margin-right: 30%;
    padding: 5px;
    line-height: initial;
    border-radius: 25px;
    text-shadow: 3px 3px #000000;
    font-family:josefinslab;
}
.columns input {
    width: 100% !important;
}
#intro {
    font-size: 200%;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 50px;
    color: beige;
    /*background-color: rgba(51,51,51,0.5);*/
    line-height: initial;
    margin-left: 22%;
    margin-right: 22%;
    padding: 10px;
    border-radius: 10px;
    text-shadow: 2px 2px #000000;
    font-family:josefinslab;
}

#text-input {
    margin-bottom: 15px;
    text-align: center;

    padding-left: 8px;
    padding-right: 8px;
}

#text-input input {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}

#searchresults {
    width: 80%;
    margin-left: 10%;
}
#searchbar {
    width: 20%;
    float: right;
    margin-right: 20%;
}
#front-page-buttons {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.container {
    display: none;
}
.click {
    cursor: pointer;
}

#login-button a {
    color: white;
}
#login-button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#button-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}
#about-panel {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 65px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 32px;
}
#about-panel p {
    font-size: 20px;
    margin-top: 7px;
}


#course {
    width: 35.5%;
}


#page-header{
    width:90%;
    margin-top: 8%;
    margin-left: 10%;
    margin-bottom: none;
    display: inline-block;
}
#create-group {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
#search-input {
    width: 50%;
    margin-left: 10%;
    display: inline-block;
}
.students-table {
    width: 30%;
    display: inline-block;
}
.notes {
    display: inline-block;
    width: 60%;
    float: right;
    height: 100%;
    overflow: auto;
}
/*footer stuff*/

.footer {
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0.7px 0.7px #000000;
    position: fixed;
    bottom: 0;
}
#bot {
    font-size: 16px;
    text-align: center;
    color: beige;
    margin-bottom: 0;
    
}

.wrapper {
    min-height: 95%;
    height: auto !important;
    height: 95%;
    margin: ;0
    0 auto -2em;
}
.footer, .push {
    height: 2em;
}

