<!DOCTYPE html>
<html>

<head>
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/fastclick.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script src="js/create.js"></script>
    <script 
        type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js">
    </script>
    <script 
        src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js">
    </script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" 
          href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">


    <link rel="stylesheet" href="css/foundations/foundation.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>Create A Group</title>

</head>

<body>
    <div class="wrapper">
        <nav class="top-bar" data-topbar role="navigation">
          <ul class="title-area">
            <li class="name">
              <h1><a href="/">Study Buddy</a></h1>
            </li>
          </ul>
            <section class="top-bar-section">
                <ul class="right">
                    <li>
                        <a href="logout">Logout</a>
                    </li>
                </ul>
            </section>
        </nav>

        <div class="title-area">
            <div class="custom-title">Create a New Group</div>
        </div>
        <form action="new" method="post" class="create-forms" id="create-group">
            <div class="row">
                <div class="large-9 columns">
                    <input type="text" placeholder="Insert Department" name="department" />
                </div>
                <div class="large-3 columns">
                    <input type="text" placeholder="Course No." name="course" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input type="text" placeholder="Choose Location" name="location" />
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    <input type="text" placeholder="Choose Time" name="time" />
                </div>
                <div class="large-6 columns">
                    <input type="text" placeholder="Contact(optional)" name="attendees" />
                </div>
            </div>
            <div class="row small-centered" id="front-page-buttons">
                <input type="submit" value="Create" id="create" class="button small-3 small-centered columns">
            </div>
        </form>

        <div class="push"></div>
    </div>

     
    <div class="footer">
        <p id="bot">Created by Aaron Plave, Aaron Rosen, Hora, Denise Francisco and Lili Borland at <a href="http://weshack.com/">WesHack 2014</a> <a href="https://github.com/weshack/study_buddy/"><img src="css/githubcat.jpg" alt="Github Code Link" height="30" width="30"/></a></p>
    </div>

</body>

</html>
