<!DOCTYPE html>
<html>
<head>
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/fastclick.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script src="js/StudyBuddy.js"></script>
    <link rel="stylesheet" href="css/foundations/foundation.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>Create A Group</title>

</head>
<body>
    <div class="title-area" >
          <h1><a href="/home">Study Buddy</a></h1>
    </div>
    <form action="new">
      <div class="row">
        <div class="large-9 columns">
            <input type="text" placeholder="Insert Department" name="department"/> 
        </div>
        <div class="large-3 columns">
            <input type="text" placeholder="Course No." name="course"/>
        </div>
      </div>
        <div class="row">
        <div class="large-12 columns">
            <input type="text" placeholder="Pick Location" name="location" /> 
        </div>
        </div>
     <div class="row">
        <div class="large-6 columns">
            <input type="text" placeholder="Choose Time" name="time"/>
        </div>
        <div class="large-6 columns"> 
            <input type="text" placeholder="Invite People" name="attendees"/>
        </div>
      </div>
    <div class="row small-centered" id="front-page-buttons">
        <input type="submit" value="Create a Group" id="create" class="button small-3 small-centered columns">
    </div>
    </form>


</body>
</html>

