<html>

<head>
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/fastclick.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/StudyBuddy.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="css/foundations/foundation.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>Wes Study Buddy</title>
</head>

<body>

    <div class="wrapper">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="home">Study Buddy</a></h1>
                </li>
            </ul>
            <section class="top-bar-section">           
                <ul>
                    <li>
                        <h1 id="well">Welcome, {{username}}</h1>
                    </li>
                    <li>
                        <h1>|</h1>
                    </li>
                    <li>
                        <a href="logout">Logout</a>
                    </li>
                </ul>
            </section>
        </nav>

        <div class="custom-title" id="text-background">Study Buddy</div>

        <div id="intro">
            Find friends to study with!
        </div>
        
        <div id="text-input" class="row">
            <div class="large-9 columns">
                <input type="text" id="studysearch" placeholder="Enter Department.."/>
            </div>
            <div class="large-3 columns">
                <input type="text" id="course-search" placeholder="Enter Course No."/>
            </div>
        </div>
        <div class="row small-centered" id="front-page-buttons">
            <input type="submit" value="Create a Group" id="create" class="button small-2 small-centered columns">
            <input type="submit" value="Search" class="button small-2 small-centered columns" id="find">
            <input type="submit" value="I'm Feeling Lucky" id="lucky" class="button small-3 small-centered columns">
        </div>

        <div class="push"></div>
    </div>
    
     
    <div class="footer">
        <p id="bot">Created by Aaron Plave, Aaron Rosen, Hora, Denise Francisco and Lili Borland at <a href="http://weshack.com/">WesHack 2014</a> <a href="https://github.com/weshack/study_buddy/"><img src="css/githubcat.jpg" alt="Github Code Link" height="30" width="30"/></a></p>


</body>

</html>
